<div class="container">
  <article class="box">
    <header>
      <h1 class="title">Registro de Usuario</h1>
    </header>
    <br>
    <form (ngSubmit)="Registro()" #registroForm="ngForm">
      <fieldset>
        <!-- Nombre -->
        <section class="field" [ngClass]="{'is-danger': registroForm.submitted && !user.nombre}">
          <label class="label">Nombre</label>
          <input class="input" type="text" placeholder="Ingresa tu nombre" [(ngModel)]="user.nombre" name="nombre" required>
          <p *ngIf="registroForm.submitted && !user.nombre" class="help is-danger">
            El nombre es obligatorio
          </p>
        </section>

        <!-- Email -->
        <section class="field" [ngClass]="{'is-danger': registroForm.submitted && !user.email}">
          <label class="label">Email</label>
          <input class="input" type="email" placeholder="Ingresa tu email" [(ngModel)]="user.email" name="email" required>
          <p *ngIf="registroForm.submitted && !user.email" class="help is-danger">
            El email es obligatorio
          </p>
        </section>

        <!-- Contraseña -->
        <section class="field" [ngClass]="{'is-danger': registroForm.submitted && !user.contrasenia}">
          <label class="label">Contraseña</label>
          <input class="input" type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="user.contrasenia" name="contrasenia" required>
          <p *ngIf="registroForm.submitted && !user.contrasenia" class="help is-danger">
            La contraseña es obligatoria
          </p>
        </section>

        <!-- Certificado -->
        <section class="field">
          <label class="label">Certificado Alumno Regular</label>
          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="certificado" (change)="SelectFile($event)" required>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">Seleccionar pdf…</span>
              </span>
              <span class="file-name">{{ user.certificado?.name || 'Ningún archivo seleccionado' }}</span>
            </label>
          </div>
        </section>

        <!-- Botón de Registro -->
        <section class="field">
          <div class="boton-container">
            <button class="button is-primary" type="submit">Registrar</button>
          </div>
        </section>
      </fieldset>
    </form>
  </article>
</div>
