<div class="container-filters">
  <h1>Te damos la Bienvenida a Material Educativo</h1>
  <section class="search-container">
    <input class="input is-rounded search-input" type="text" placeholder="Buscar documento..." />
    <i class="fa-solid fa-magnifying-glass lupa-icon"></i>
    <i class="fa-solid fa-sliders filter-icon"></i>
  </section>

  
  <ul class="items">
    <li class="item">
      <i class="fas fa-building fa-sm"></i>
      <p *ngIf="depto">{{ depto }}</p>
      <p *ngIf="!depto">departamentos</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let departamento of departamentos" (click)="setDepto(departamento.nombre);getCarreras(departamento.id); getDocuments(departamento.id,'departamento')">
          {{ departamento.nombre }}
        </li>
      </ul>
    </li>
    <li class="item">
      <i class="fa-solid fa-graduation-cap"></i>
      <p *ngIf="carrera">{{ carrera }}</p>
      <p *ngIf="!carrera">Carreras</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let carrera of carreras" (click)="setCarrera(carrera.nombre);getMaterias(carrera.id);getDocuments(carrera.id,'carrera')">
          {{ carrera.nombre }}
        </li>
      </ul>
    </li>
    <li class="item">
      <i class="fa-solid fa-book-open-reader"></i>
      <p *ngIf="materia">{{ materia }}</p>
      <p *ngIf="!materia">Materias</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let materia of materias" (click)="setMateria(materia.nombre);getDocuments(materia.id,'materia')">
          {{ materia.nombre }}
        </li>
      </ul>
    </li>
    <li class="item">
      <i class="fa-solid fa-file"></i>
      <p *ngIf="category">{{ category }}</p>
      <p *ngIf="!category">Categorias</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let categoria of categorias" (click)="setCategory(categoria.nombre);getDocuments(categoria.id,'categoria')" >
          {{ categoria.nombre }}
        </li>
      </ul>
    </li>
  </ul>
    <div class="overlay"></div> <!-- Overlay que cubre el fondo -->
  

</div>