<div class="container-filters">
  <h1>Te damos la Bienvenida a Material Educativo</h1>
  <section class="search-container">
    <input class="input is-rounded search-input" type="text" placeholder="Buscar documento..." />
    <i class="fa-solid fa-magnifying-glass lupa-icon"></i>
    <i class="fa-solid fa-sliders filter-icon"></i>
  </section>

  
  <ul class="items">
    <li 
    class="item" 
    [ngClass]="{'has-depto': this.filters.departamento.nombre}"
  >
    <i class="fas fa-building fa-sm"></i>
    <p *ngIf="filters.departamento.nombre" (click)="setDepto('','');setCarreras(null);sendFilter('')">{{ filters.departamento.nombre }} </p>
    <p *ngIf="!filters.departamento.nombre">Departamentos</p>
    <i class="fa-solid fa-sort-down fa-sm"></i>
    <ul class="dropdown">
      <li 
        *ngFor="let departamento of departamentos" 
        (click)="setDepto(departamento.id,departamento.nombre); getCarreras(departamento.id); sendFilter('departamento')"
      >
        {{ departamento.nombre }}
      </li>
    </ul>
  </li>
    
    <li class="item" [ngClass]="{'has-carrera': filters.carrera.nombre}">
      <i class="fa-solid fa-graduation-cap"></i>
      <p *ngIf="filters.carrera.nombre"  (click)="setCarrera('','');setCarreras(null);sendFilter('')" >{{ filters.carrera.nombre }}</p>
      <p *ngIf="!filters.carrera.nombre">Carreras</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let carrera of carreras" (click)="setCarrera(carrera.id,carrera.nombre);getMaterias(carrera.id);sendFilter('carrera')">
          {{ carrera.nombre }}
        </li>
      </ul>
    </li>
    <li class="item" [ngClass]="{'has-materia': filters.materia.nombre}">
      <i class="fa-solid fa-book-open-reader"></i>
      <p *ngIf="filters.materia.nombre" (click)="setMateria('','');setMaterias(null);sendFilter('')">{{ filters.materia.nombre }}</p>
      <p *ngIf="!filters.materia.nombre">Materias</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let materia of materias" (click)="setMateria(materia.id,materia.nombre);sendFilter('materia')">
          {{ materia.nombre }}
        </li>
      </ul>
    </li>
    <li class="item" [ngClass]="{'has-category': filters.categoria.nombre}">
      <i class="fa-solid fa-file"></i>
      <p *ngIf="filters.categoria.nombre" (click)="setCategory('','');sendFilter('')">{{ filters.categoria.nombre }}</p>
      <p *ngIf="!filters.categoria.nombre">Categorias</p>
      <i class="fa-solid fa-sort-down fa-sm"></i>
      <ul class="dropdown">
        <li *ngFor="let categoria of categorias" (click)="setCategory(categoria.id,categoria.nombre);sendFilter('categoria')" >
          {{ categoria.nombre }}
        </li>
      </ul>
    </li>
  </ul>
    <div class="overlay"></div> <!-- Overlay que cubre el fondo -->
  

</div>