<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let depto of departaments | paginate: { itemsPerPage: 7, currentPage: pagina }">
      <td>{{ depto.id }}</td>
      <td>{{ depto.nombre }}</td>
      <td>
        <div class="button-container-acciones">
          <button class="btn-acciones update" (click)="editarDepartamento(depto.id,depto.nombre)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="btn-acciones eliminar" (click)="eliminarDepartamento(depto.id,depto.nombre)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="button-container">
  <button class="btn-acciones create" (click)="crearDepartamento()">Crear Nuevo <i
      class="fa-solid fa-plus"></i></button>
</div>


<!-- <div class="paginador">
    <pagination-controls (pageChange)="pagina=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div> -->