<div class="user-profile-modal">
  <!-- Icono de usuario grande -->
  <div class="user-icon-large">
    <i class="fa-regular fa-circle-user"></i>
  </div>

  <!-- Botones alineados en una fila con iconos y texto -->
  <div class="buttons field has-addons is-justify-content-space-between">
    <p class="control">
      <button class="button">
        <span class="icon">
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
        <span>Editar</span>
      </button>
    </p>
    <p class="control">
      <button class="button">
        <span class="icon">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span>Salir</span>
      </button>
    </p>
  </div>
</div>
